<!-- <h1>This is App Compomenent</h1> -->

<!-- <app-home></app-home> -->

<!-- <app-directive-demo></app-directive-demo> -->

<!-- <app-attribute-demo></app-attribute-demo> -->

<!-- <app-compopipe></app-compopipe> -->

<!-- <app-form-demo></app-form-demo> -->

<!-- <app-parent></app-parent> -->

<!-- <app-my-first-service></app-my-first-service> -->

<!-- <app-my-http-use></app-my-http-use> -->

<!-- <app-post-data-user></app-post-data-user> -->


<!-- <ul>
    <li><a [routerLink]="['/Home']">Login</a></li>
    <li><a [routerLink]="['/About_Us']">About Us</a></li>
    <li><a [routerLink]="['/Data']">Data</a></li>
    <li><a [routerLink]="['/Emp']">Employee List</a></li>
</ul>

<router-outlet></router-outlet> -->

<!-- <app-movie></app-movie> -->

<!-- <app-jsoncrude-use></app-jsoncrude-use> -->

<!-- <app-employeejson-use></app-employeejson-use> -->

<app-login></app-login>

