/* .navbar1{
    background-color: rgb(46, 38, 38);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}*/

mat-toolbar{
    justify-content: space-between;
}