<!-- <h1>This is App Compomenent</h1> -->

<!-- <app-home></app-home> -->

<!-- <app-directive-demo></app-directive-demo> -->

<!-- <app-attribute-demo></app-attribute-demo> -->

<!-- <app-compopipe></app-compopipe> -->

<!-- <app-form-demo></app-form-demo> -->

<!-- <app-parent></app-parent> -->

<!-- <app-my-first-service></app-my-first-service> -->

<!-- <app-my-http-use></app-my-http-use> -->

<!-- <app-post-data-user></app-post-data-user> -->


<!-- <ul>
    <li><a [routerLink]="['/Home']">Login</a></li>
    <li><a [routerLink]="['/About_Us']">About Us</a></li>
    <li><a [routerLink]="['/Data']">Data</a></li>
    <li><a [routerLink]="['/Emp']">Employee List</a></li>
</ul> -->
<mat-toolbar color="primary">
    <span><mat-icon>apps</mat-icon>My Project</span>
    <button mat-raised-button [routerLink]="['/Login']"><mat-icon>login</mat-icon>Login</button>
    <button mat-raised-button [routerLink]="['/Home']"><mat-icon>home</mat-icon>Home</button>
    <button mat-raised-button [routerLink]="['/About_Us']"><mat-icon>info</mat-icon>About us</button>
    <button mat-raised-button [routerLink]="['/Data']"><mat-icon>insert_chart</mat-icon>Data</button>
    <button mat-raised-button [routerLink]="['/Emp']"><mat-icon>list</mat-icon>Employee List</button>
    <button mat-raised-button [routerLink]="['/Movie']"><mat-icon>movie</mat-icon>Movies</button>
    <button mat-raised-button [routerLink]="['/forms']"><mat-icon>assignment</mat-icon>Forms</button>
    <button mat-raised-button [routerLink]="['/materialDemo']"><mat-icon>build</mat-icon>Materials</button>

</mat-toolbar>
<br>
<router-outlet></router-outlet>

<!-- <app-movie></app-movie> -->

<!-- <app-jsoncrude-use></app-jsoncrude-use> -->

<!-- <app-employeejson-use></app-employeejson-use> -->

<!-- <app-login></app-login> -->

<!-- <app-template-driven17></app-template-driven17> -->

<!-- <app-reactive-form-demo></app-reactive-form-demo> -->

<!-- <app-material-demo></app-material-demo> -->
