
<h2>This is Attribute Demo</h2><br><br>

<h3>ngClass</h3>

<button [ngClass]="applyclass()">ClickMe</button>

<p [ngClass]="applyclass()">Hi this is Demo of Attribute directives</p> 

<p [ngClass]="applycolor()">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores fuga sit, exercitationem provident eum corporis quisquam ipsum sed quis in molestias eius quo at officia? Beatae aliquam libero error explicabo?
Natus sit odio aliquid consequuntur repellendus nulla magnam architecto fugiat beatae libero doloremque quidem earum, cupiditate adipisci quo eos iste impedit deserunt ut consequatur cum, quasi sed ad non? Amet?</p>


<h3>ngStyle</h3>

<p [ngStyle]="applyStyle()">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus rem velit numquam officia aspernatur. Eius porro, impedit accusantium dignissimos molestiae quidem fuga minima totam ex alias, quos assumenda odio repudiandae?
Quis nesciunt, ducimus molestiae possimus totam sed expedita, tempore dolor reiciendis reprehenderit necessitatibus consectetur commodi aliquam voluptates libero nihil animi suscipit aperiam pariatur eveniet, aliquid vero. Cupiditate sit nesciunt ut!
Temporibus totam mollitia animi illum possimus sed soluta iusto nemo consequuntur non. Nemo, qui soluta. Sit in perspiciatis, ex vitae pariatur eius corporis! Obcaecati minima nam voluptas vel optio totam?</p>




